In [91]:
from codecs import ignore_errors
from re import M
import pandas as pd
ori=pd.read_csv("wind.csv.original")
data=pd.read_csv("wind.csv")

data

   weather temp wet wind go
0        s    h   h    n  n
1        s    h   h    y  n
2        c    h   h    n  y
3        r    m   h    n  y
4        r    m   h    n  y
5        r    l   l    y  n
6        c    l   l    y  y
7        s    m   h    n  n
8        s    m   l    n  y
9        r    m   h    n  y
10       s    m   l    y  y
11       c    m   h    y  y
12       c    h   h    n  y
13       r    m   h    y  n

In [103]:
from math import log

from pyparsing import col

log(4,2)

def H(data,column):
    freq=data[column].value_counts()
    freq_sum=sum(freq)

    ret=0
    for count in freq:
        #print(value,freq_sum)
        ret+=oper(count,freq_sum)
        
    return ret


def oper(count,sum):
   return -((count/sum)*log(count/sum,2))

def A(data,column):
    freq=data[column].value_counts()
    freq_sum=sum(freq)
    ret=0
    for value,count in freq.items():
        data_to_pass=data.loc[data[column]==value]
        ret+=count/freq_sum*H(data_to_pass,"go")
    return H(data,"go")-ret

def ratio(data,column):
    return A(data,column)/H(data,column)
print(A(data,"weather"),A(data,"temp"),A(data,"wet"),A(data,"wind"))
print(A(data,"weather")/H(data,"weather"),A(data,"temp")/H(data,"temp"),A(data,"wet")/H(data,"wet"),A(data,"wind")/H(data,"wind"))
#choose weather

0.2467498197744391 0.04812703040826927 0.014956069928972582 0.04812703040826927
0.15642756242117517 0.03490542977605774 0.01732790350925116 0.048848615511520595

In [113]:
#s
s_weather_data=data.loc[data["weather"]=="s"]
s_weather_data

   weather temp wet wind go
0        s    h   h    n  n
1        s    h   h    y  n
7        s    m   h    n  n
8        s    m   l    n  y
10       s    m   l    y  y

In [119]:
print(ratio(s_weather_data,"temp"),ratio(s_weather_data,"wet"),ratio(s_weather_data,"wind"))
#choose wet
wet_h_data=s_weather_data.loc[s_weather_data["wet"]=="h"]
wet_l_data=s_weather_data.loc[s_weather_data["wet"]=="l"]
print(wet_h_data)
print(wet_l_data)

0.4325380677663126 1.0 0.020570659450692974
  weather temp wet wind go
0       s    h   h    n  n
1       s    h   h    y  n
7       s    m   h    n  n
   weather temp wet wind go
8        s    m   l    n  y
10       s    m   l    y  y

In [116]:

c_weather_data=data.loc[data["weather"]=="c"]
c_weather_data

   weather temp wet wind go
2        c    h   h    n  y
6        c    l   l    y  y
11       c    m   h    y  y
12       c    h   h    n  y

In [118]:

print(ratio(c_weather_data,"temp"),ratio(c_weather_data,"wet"),ratio(c_weather_data,"wind"))

0.0 0.0 0.0

In [120]:

r_weather_data=data.loc[data["weather"]=="r"]
r_weather_data

   weather temp wet wind go
3        r    m   h    n  y
4        r    m   h    n  y
5        r    l   l    y  n
9        r    m   h    n  y
13       r    m   h    y  n

In [122]:

print(ratio(r_weather_data,"temp"),ratio(r_weather_data,"wet"),ratio(r_weather_data,"wind"))
#choose wind

wind_y_data=r_weather_data.loc[r_weather_data["wind"]=="y"]
wind_n_data=r_weather_data.loc[r_weather_data["wind"]=="n"]
print(wind_y_data)
print(wind_n_data)

0.4459281986214854 0.4459281986214854 1.0
   weather temp wet wind go
5        r    l   l    y  n
13       r    m   h    y  n
  weather temp wet wind go
3       r    m   h    n  y
4       r    m   h    n  y
9       r    m   h    n  y